PORT=3001
NODE_ENV=development
CLIENT_URL=http://localhost:5173
# PostgreSQL connection string (Neon.tech or local)
DATABASE_URL="postgresql://username:password@ep-xyz-region.pooler.neon.tech/entrehilos?sslmode=require"
